<% card = event.eventable %>
<% link = event.action == "commented" ? collection_card_path(card.collection, card, anchor: dom_id(event.comment)) : collection_card_path(card.collection, card) %>

<%= link_to link,
      class: "event event--#{ event.action } panel center center-block flex-inline align-start justify-start gap position-relative",
      style: "--card-color: #{ card.color }; background-color: color-mix(in srgb, var(--card-color) 10%, var(--color-bg));
  color: color-mix(in srgb, var(--card-color) 40%, var(--color-ink));",
      data: { related_element_target: "related",
              related_element_group_value: card.id,
              action: "mouseover->related-element#highlight mouseout->related-element#unhighlight" } do %>
  <div class="avatar txt-x-small flex-item-no-shrink">
    <%= avatar_image_tag(event.creator) %>
  </div>

  <div class="flex flex-column min-width txt-small align-start txt-align-start" style="color: color-mix(in srgb, var(--card-color) 40%, var(--color-ink));">
    <div class="flex align-start gap full-width">
      <strong class="event__title txt-break overflow-line-clamp txt-tight-lines">
        <%= event_action_sentence(event) %>
      </strong>

      <% if event_column(event) == 2 %>
        <span class="event__icon flex-item-justify-end txt-reversed">
          <%= icon_tag event_action_icon(event) %>
        </span>
      <% end %>
    </div>

    <% if event.action == "commented" && !strip_tags(event&.comment&.body_html).blank? %>
      <span class="txt-break overflow-line-clamp txt-tight-lines">
        <%= strip_tags(event.comment.body_html).truncate(200) -%>
      </span>
    <% end %>

    <span class="event__collection"><%= card.collection.name %></span>
  </div>
<% end %>
