<section id="<%= dom_id(column) %>"
  class="cards cards--doing is-collapsed" style="--card-color: <%= column.color %>;"
  data-drag-and-drop-target="container"
  data-drag-and-strum-target="container"
  data-collapsible-columns-target="column"
  data-controller="clicker"
  data-action="turbo:before-morph-attribute->collapsible-columns#preventToggle"
  data-drag-and-drop-url="<%= columns_card_drops_column_path("__id__", column_id: column.id) %>"
>
  <%= render "collections/show/expander", title: column.name, count: column.cards.active.count, column_id: dom_id(column) do %>
    <%= render "collections/show/menu/column", column: column %>
  <% end %>

  <%= link_to collection_column_path(column.collection, column), class: "btn btn--circle txt-x-small borderless cards__expander-button", data: { turbo_frame: "_top" } do %>
    <%= icon_tag "expand" %>
    <span class="for-screen-reader">Expand column</span>
  <% end %>

  <%= column_frame_tag dom_id(column, :cards), src: collection_column_path(column.collection, column) %>
</section>
