<%= turbo_frame_tag comment, :reacting do %>
  <div class="reactions">
    <div id="<%= dom_id(comment, :reactions) %>" class="reactions__list">
      <%= render partial: "cards/comments/reactions/reaction", collection: comment.reactions.includes(:reacter).ordered %>
    </div>

    <%= turbo_frame_tag comment, :new_reaction do %>
      <%= link_to new_card_comment_reaction_path(comment.card, comment), role: "button",
            class: "reactions__trigger btn btn--circle borderless", action: "soft-keyboard#open",
            data: { turbo_frame: dom_id(comment, :new_reaction), action: "dialog#close" } do %>
        <%= image_tag "boost-color.svg", aria: { hidden: true } %>
        <span class="for-screen-reader">Add your own reaction</span>
      <% end %>
    <% end %>
  </div>
<% end %>
