<% @page_title = @user_filtering.selected_collections_label %>
<% turbo_exempts_page_from_cache %>

<%= render "filters/broadcasts", filter: @filter %>

<% content_for :head do %>
  <%= tag.meta property: "og:title", content: @page_title %>
  <%= tag.meta property: "og:description", content: Account.sole.name %>
  <%= tag.meta property: "og:url", content: cards_url(@filter.as_params) %>
<% end %>

<% content_for :header do %>
  <%= render "filters/menu" %>

  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis"><%= @user_filtering.selected_collections_label %></span>
  </h1>

  <div class="header__actions header__actions--end">
    <% if collection = @filter.single_collection %>
      <%= render "cards/collection_settings", collection: collection %>
    <% end %>
  </div>
<% end %>

<%= render "filters/settings", filter_url: cards_path, user_filtering: @user_filtering, no_filtering_url: cards_path %>

<%= turbo_frame_tag :cards_container do %>
  <section class="cards cards--grid">
    <%= with_automatic_pagination :cards_paginated_container, @page do %>
      <%= render partial: "cards/display/preview", collection: @page.records, as: :card, locals: { draggable: true }, cached: ->(card) { card.cache_invalidation_parts.for_preview } %>
    <% end %>
  </section>
<% end %>
