<% @page_title = "Column: Closed" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= link_to @board, class: "btn borderless txt-medium", data: { controller: "hotkey", action: "keydown.esc@document->hotkey#click" } do %>
      <span class="overflow-ellipsis">
        &larr;
        <strong><%= @board.name %></strong>
      </span>
    <% end %>
  </div>

  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis"><%= @page_title %></span>
  </h1>
<% end %>

<section class="cards cards--grid">
  <%= turbo_frame_tag :closed_column do %>
    <% if @page.used? %>
      <%= with_automatic_pagination :closed_column, @page do %>
        <%= render "boards/columns/list", cards: @page.records, draggable: true %>
      <% end %>
    <% else %>
      <div class="cards__list">
        <div class="card blank-slate blank-slate--card">
          <p class="txt-align-center">Drag cards here</p>
          <p class="txt-align-center blank-slate-for-grid">Nothing here</p>
        </div>
      </div>
    <% end %>
  <% end %>
</section>
